.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
cache/*
*.html
*.log
*.tex
*.toc
*.RData
*.7z
*.csv
*.err
*.out
*.aux
*.bbl
*.blg
*.rdb
main.log
main.toc
main.aux
main.bbl
main.out
main.blg
data/*.rds
!data/elec_nogap_2013_clean_356cust.rds
!data/algo2-cust600-wpd-rawdata.rds
validation/*.rds
!validation/js-wpd/*.rds
!validation/js-nqt/*.rds
!validation/js-robust/*.rds

