.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
cache/*
*.html
*.log
*.tex
*.toc
*.rds
*.RData
*.7z
*.csv
*.err
*.out
*.aux
*.bbl
*.blg
*.rdb
main.log
paper/main.toc
paper/main.aux
paper/main.bbl
paper/main.out
paper/main.blg